<nav class="navbar navbar-inverse" ng-show="!log" style="border-radius: 15px 15px 0 0;">
	<div class="container ">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
			</button>
			<a class="navbar-brand">Predix UI Assignment</a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav navbar-right">
				<!-- <li><a href="#/login" ng-show="log"><span class="glyphicon "></span> Login</a></li> -->
				<li><a href="#/login" ng-show="!log"><span class="glyphicon "></span> Logout</a></li>
			</ul>
		</div>
	</div>
</nav>